<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcado Liebre!</title>
</head>

<body>
    <header>
        <img src="/images/LogoMercadoL.jpg" alt="Logo">
        <nav>acá va la barra de busqueda</nav>
        <ul>
            <li>
                <a href="#">Ofertas</a>
            </li>
            <li>
                <a href="#">Tiendas oficiales</a>
            </li>
            <li>
                <a href="#">Vender</a>
            </li>
            <li>
                <a href="#">Ayuda</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="#">Creá tu cuenta</a>
            </li>
            <li>
                <a href="#">Ingresá</a>
            </li>
            <li>
                <a href="#">Mis compras</a>
            </li>
        </ul>
        <img src="/images/img-home-banner.jpg" alt="Banner">
    </header>
    <main>
        <section>
            <article>
                <h3>Basado en tu última visita</h3>
                <img src="/images/img-cafetera-moulinex" </article>
        </section>
    </main>
    <p> Bienvenidos a Mercado Liebre, donde compras y vendes la mierda que quieras o que tengas por ahi...
    </p>


</body>

</html>