<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcado Liebre!</title>
</head>

<body>
    <h1>Bienvenidos a Mercado Liebre</h1>
    <h2>Donde compras y vendes todas tus mierdas</h2>

    <img src="images/mercado-libre.jpg" alt="logo pagina">

    <p> Bienvenidos a Mercado Liebre, donde compras y vendes la mierda que quieras o que tengas por ahi...
    </p>

    <ol>
        <li>
            <a href="#" Productos></a>
        </li>
        <li>
            <a href="#" Servicios></a>
        </li>
        <li>
            <a href="#" Nosotros></a>
        </li>
        <li>
            <a href="#" Contacto></a>
        </li>
    </ol>
</body>

</html>